body{
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
}


.button1{
    
	display: flex;
	background: black;  
    font-family: consolas;
    opacity: 0.5;
}

.controlLogout{
    position: fixed;
    right: 50px;
    bottom: 770px;
}

.controlLogin{
    position: fixed;
    right: 250px;
    bottom: 770px;
}

a{
	display: inline-block;
	padding: 15px 40px;
	color: white;		
	letter-spacing: 2px;
	text-decoration: none;
	font-size: 10px;
	overflow: hidden;
	transition: 0.2s;
}

a:hover{
	color: black;
	background: white;
	box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
	transition-delay: 0.01s;
}
